body {
  font-family: 'Montserrat', sans-serif; }

.bluebg {
  background-color: #0cb3f8;
  padding-top: 55px;
  height: 640px;
  color: white; }

.dirtywhite {
  background-color: #f5f4f4;
  margin-top: 68px;
  color: #242526; }

.black {
  background-color: #222222;
  padding-bottom: 110px; }

.first-box {
  background-color: #ffffff;
  border-radius: 5px; }

.second-box {
  background-color: #1b8bf9;
  border-radius: 5px;
  color: #ffffff; }

.licensetype {
  color: #ffffff; }

.main-contents {
  padding-top: 142px; }

.buttons {
  padding-top: 100px; }

.new-button {
  margin-top: 130px; }

a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent; }

.revolve {
  color: #292534; }

.awesome-app {
  font-size: 16.39px;
  padding-left: 8px; }

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 12px; }

.downloadbutton {
  margin-left: 1rem;
  color: white;
  background: transparent;
  border-color: white;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 20px;
  letter-spacing: 1px;
  font-weight: 700; }

.learnbutton {
  font-weight: 700;
  margin-left: 1rem;
  background-color: transparent;
  margin-left: 30px;
  color: white;
  letter-spacing: 1px;
  border: none; }

.makeit {
  font-size: 70px;
  font-weight: 700;
  letter-spacing: -5px; }

.see {
  font-size: 21px; }

.buttons {
  font-size: 10px;
  font-weight: 700; }

.newbutton {
  background-color: #268df5;
  font-size: 9px;
  color: white;
  border: none;
  border-radius: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 10px 5px 8px rgba(38, 141, 245, 0.5);
  letter-spacing: 1px;
  font-weight: 700;
  margin-left: 1rem; }

.revolve {
  color: #292534;
  margin-left: 30px;
  margin-top: 10px; }

.new-button {
  margin-top: 72px; }

.bigthing {
  padding-top: 67px; }

.big {
  font-size: 44px;
  font-weight: 700; }

.motivating {
  font-size: 15.99px;
  font-weight: 300;
  padding-top: 1rem;
  color: #747474; }

.firstmain-contents p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
  margin-bottom: 82px;
  color: #747474;
  font-size: 13px; }

.firstmain-contents h5 {
  color: #242526;
  font-size: 13px;
  text-align: center;
  font-weight: 700; }

.firstmain-contents {
  margin-top: 76px; }

.first {
  margin-top: 40px; }

.third {
  margin-top: 40px; }

.firstmain-contents {
  margin-top: 70px;
  padding-bottom: 85px;
  background-color: #f5f4f4; }

.licensetype {
  padding-top: 64px; }

.licensetype h2 {
  font-size: 44px;
  font-weight: 700; }

.licensetype h5 {
  font-size: 16px;
  font-weight: 300;
  color: #bcc6d0;
  padding-bottom: 82px;
  padding-top: 40px; }

.first-box {
  background-color: #ffffff;
  border-radius: 5px;
  padding-top: 35px;
  padding-bottom: 45px;
  color: #242526; }

.withpadding {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 48px;
  font-weight: 700; }

.mainmsg {
  font-size: 12px;
  font-weight: 700; }

.second-box {
  border-radius: 5px;
  padding-top: 35px;
  padding-bottom: 45px; }

.per {
  font-size: 12px;
  font-weight: 400; }

.first-box p {
  margin-top: 0;
  margin-bottom: 50px;
  margin-top: 53px; }

.second-box p {
  margin-top: 0;
  margin-bottom: 50px;
  margin-top: 53px; }

.getbutton {
  margin-left: 1rem;
  color: #222222;
  background-color: white;
  border-color: #268df5;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 20px;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 700; }

.trybutton {
  margin-left: 1rem;
  color: #222222;
  background-color: white;
  border-color: #268df5;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 20px;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 700; }

.checkgreen {
  color: #4bc056; }

.checkgrey {
  color: #bbc6d0; }

.subscribe {
  background-image: url("../images/subscribe.png");
  padding-top: 65px;
  padding-bottom: 95px;
  background-size: cover; }

.subscribe h2 h5 {
  color: #ffffff; }

.subscribe h2 {
  font-size: 44px;
  font-weight: 700;
  color: #ffffff; }

.subscribe h5 {
  font-size: 14px;
  font-weight: 300;
  padding-top: 23px;
  padding-bottom: 52px;
  color: #ffffff; }

.subscribe .email {
  border: none;
  background-color: rgba(146, 146, 146, 0.33);
  border-radius: 5px;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 11px;
  width: 350px;
  font-size: 11px;
  font-weight: 400; }

.subscribe .emailbutton {
  background-color: white;
  border: none;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 56px;
  padding-right: 56px;
  border-radius: 5px;
  font-size: 11px;
  font-weight: 700;
  box-shadow: 10px 5px 8px #222222;
  letter-spacing: 1px;
  margin-left: -20px; }

.navbottom {
  padding-top: 35px;
  padding-bottom: 35px; }

.about a {
  color: #242526; }

.fb {
  padding-left: 20px;
  padding-right: 20px; }

.leftmsg {
  font-size: 11px;
  font-weight: 300;
  color: #242526; }

.copy {
  font-size: 10px;
  font-weight: 300;
  color: #242526; }

.footersecond {
  padding-top: 30px;
  padding-bottom: 25px; }

.linebreak {
  height: 1px;
  background-color: #bcc6d0; }

.img-fluid {
  max-width: 100%;
  height: auto; }

.email {
  color: white;
  padding-left: 12px; }

.second {
  text-align: center; }

::placeholder {
  color: white; }

.logowhite {
  margin-left: 1rem; }

.nav-link:hover {
  border-bottom: 3px solid white; }

a:hover {
  color: white; }

.new-button {
  margin-top: 97px; }

.second {
  text-align: center; }

.new-button {
  margin-top: 97px; }
