body {
  font-family: 'Poppins', sans-serif;
  background-color: #242526; }
  body .darkbg {
    background-color: #242526;
    margin-top: 70px; }
  body .homepage {
    color: #f8e5e5;
    font-weight: 600;
    font-size: 16px; }
  body .nav {
    color: #f8e5e5;
    font-weight: 700;
    font-size: 16px; }
  body .maincontents {
    color: #f8e5e5; }
  body .my-name h1 {
    font-family: 'miller-banner', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 115px; }
  body .iam h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto; }
  body .ui {
    font-weight: 300;
    font-size: 80px; }
  body a {
    color: #f8e5e5;
    text-decoration: none;
    background-color: transparent; }
  body .verticalline {
    height: 95px;
    background-color: #f8e5e5;
    width: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 32px; }
  body .meet h2 {
    font-family: miller-banner, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 110px; }
  body .footer {
    background-color: #f8e5e5;
    height: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; }
  body a {
    color: #FA255E;
    text-decoration: none;
    background-color: transparent; }
  body a:hover {
    color: #242526;
    text-decoration: underline; }
  body .nav-link:hover {
    text-decoration: none;
    color: #F8E5E5; }
  body a:hover {
    color: #fa255e;
    text-decoration: none; }
  body .emailme a:hover {
    color: #242526;
    text-decoration: none; }
  body .iam h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px; }
  body .make p {
    font-weight: 600;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 14px; }
  body .social {
    padding-top: 15px;
    padding-bottom: 20px; }
  body .linkedinicon a {
    margin-right: 15px; }
